PORT=4160
NODE_ENV=development
AUTH_SECRET=
FINDERAUTH_ISSUER=https://auth.finderfinder.org/oidc
FINDERAUTH_CLIENT_ID=opensoftware
FINDERAUTH_CLIENT_SECRET=
DATABASE_URL=file:./opensoftware.db
HOSTNAME=0.0.0.0
SMTP_HOST=smtp.example.com
SMTP_USER=
SMTP_PASS=
