DATABASE_URL=./data/openfarm.db
SKIP_AUTH=true
NEXT_PUBLIC_APP_URL=http://localhost:4174

# FDM Slicers
PRUSASLICER_PATH=/Applications/PrusaSlicer.app/Contents/MacOS/PrusaSlicer
ORCASLICER_PATH=/Applications/OrcaSlicer.app/Contents/MacOS/OrcaSlicer

# Formlabs SLA
PREFORM_SERVER_URL=http://localhost:44388
FORMLABS_WEB_API_TOKEN=
FORMLABS_CLIENT_ID=

# Bambu Lab
BAMBU_CLOUD_TOKEN=

# SLS
SLS4ALL_URL=http://sls-printer:5000

# Spoolman
SPOOLMAN_URL=http://localhost:7912
